.centerHeading {
	text-align: center;
}

.location {
	text-align: center;
}

.headerUnderlined {
	text-decoration: underline;
}
h2 {
	margin: 5px;
	text-decoration: underline;
	font-style: italic;
}
h3 {
	margin: 5px;
	text-decoration: underline;
	font-style: italic;
}

h4 {
	margin: 5px;
}